@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import url('https://fonts.googleapis.com/css?family=Raleway:400,400i,500,500i,600,600i,700,700i,800,800i ,900,900i|Roboto+Condensed:400,400i,700,700i');

section {
  padding: 100px 0;
}

.details-card {
  background: #ecf0f1;
}

.card-content {
  background: #ffffff;
  border: 4px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
}

.card-img {
  position: relative;
  overflow: hidden;
  border-radius: 0;
  z-index: 1;
}

.card-img img {
  width: 100%;
  height: auto;
  display: block;
}

#card-index {
  -webkit-box-shadow: 5px 5px 10px -3px #000000;
  box-shadow: 5px 5px 10px -3px #000000;
  position: absolute;
  top: 14%;
  left: 10%;
  background: #363636;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 12px;
  padding-right: 12px;
  color: #fff;
  font-size: 12px;
  border-radius: 25px !important;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  transform: translate(-50%, -50%);
}

#card-close{
  cursor: pointer;
  margin: 0;
  margin-top: -1%;
  margin-right: 2.6%;
  font-size: 25px;
  color: #b1b0b0;
}

#card-close:hover{
  color: #fc4f4f;
}

@media (max-width: 474px) {
  #card-index {
    top: 13%;
    left: 9%;
  }
}

@media (min-width: 475px) and (max-width: 767px) {
  #card-index {
    top: 9%;
    left: 7%;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  #card-index {
    top: 14%;
    left: 10%;
  }
}

#card-index h4 {
  font-weight: 400;
  font-size: 12px;
  margin: 0;
  padding: 10px 5px;
  line-height: 0;
}

.card-desc {
  padding: 1.25rem;
}

.card-desc h3 {
  color: #000000;
  font-weight: 600;
  font-size: 1.5em;
  line-height: 1.3em;
  margin-top: 0;
  margin-bottom: 5px;
  padding: 0;
}

.card-desc p {
  color: #747373;
  font-weight: 400;
  font-size: 1em;
  line-height: 1.5;
  margin: 0px;
  margin-bottom: 20px;
  padding: 0;
  font-family: 'Raleway', sans-serif;
}

.btn-card {
  -webkit-text-stroke: 0.08px rgba(255, 255, 255, 0.5);
  width: 75%;
  background-color: #565cad;
  color: white!important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
  padding: .25rem 2.14rem;
  font-size: .88rem;
  -webkit-transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
  -o-transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-inout, box-shadow .15s ease-in-out;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-inout, box-shadow .15s ease-in-out;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-inout, box-shadow .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
  margin: 0;
  border: 0;
  -webkit-border-radius: .125rem;
  border-radius: .195rem;
  cursor: pointer;
  white-space: normal;
  word-wrap: break-word;
}

.btn-detalle{
  background-color: #363636;
}

.btn-detalle:hover{
  background-color: #414141 !important;
}

.btn-card:hover {
  background: #6268be;
}

a.btn-card {
  text-align: center;
  text-decoration: none;
  color: #fff;
}

.is-invalid{
  background-origin: padding-box!important;
  background-image: url("assets/images/icoCerrar.svg")!important;
  background-size: 11px 11px !important;
  background-position: right calc(.375em + .2975rem) center!important;
}

.invalid-feedback{
  font-family: Alata;
  font-size: 12px;
  font-weight: normal;
  margin-left: 2px;
}

.msg {
  letter-spacing: 0.7px;
  margin-left: 1.8%;
  margin-right: 1.8%;
  background: #fefefe;
  color: #666666;
  font-weight: 500;
  font-size: small;
  padding: 8px;
  padding-left: 18px;
  border-top: solid 3px #CCCCCC;
  border-radius: 5px;
  margin-bottom: 10px;
  -webkit-box-shadow: 0 10px 10px -5px rgba(0,0,0,.08);
  -moz-box-shadow: 0 10px 10px -5px rgba(0,0,0,.08);
  box-shadow: 0 10px 10px -5px rgba(0,0,0,.08);
}
.msg-clear {
  border-color: #fefefe;
  -webkit-box-shadow: 0 7px 10px -5px rgba(0,0,0,.15);
  -moz-box-shadow: 0 7px 10px -5px rgba(0,0,0,.15);
  box-shadow: 0 7px 10px -5px rgba(0,0,0,.15);
}

.msg-close{
  padding: 3px 15px!important;
}

.msg-info {
  border-color: #b8dbf2;
}
.msg-success {
  border-color: #cef2b8;
}
.msg-warning {
  border-color: rgba(255,165,0,.5);
}
.msg-danger {
  border-color: #ec8282;
}
.msg-primary {
  border-color: #9ca6f1;
}
.msg-magick {
  border-color: #e0b8f2;
}
.msg-info-text {
  color: #39b3d7;
}
.msg-success-text {
  color: #80d651;
}
.msg-warning-text {
  color: #db9e34;
}
.msg-danger-text {
  color: #c9302c;
}
.msg-primary-text {
  color: rgba(47,106,215,.9);
}
.msg-magick-text {
  color: #bb39d7;
}
