@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import url('https://fonts.googleapis.com/css?family=Raleway:400,400i,500,500i,600,600i,700,700i,800,800i ,900,900i|Roboto+Condensed:400,400i,700,700i');
@import "~mapbox-gl/dist/mapbox-gl.css";
@import '~@mapbox/mapbox-gl-geocoder/lib/mapbox-gl-geocoder.css';

::-webkit-scrollbar {
  width: 5px;
  background-color: transparent;
  background: transparent;
}

::-webkit-scrollbar-track {
  height: 10px;
  background-color: transparent;
  border: 0 solid #232943;
}

::-webkit-scrollbar-thumb {
  margin-top: 50px;
  background: rgba(110, 110, 110, 0.8);
  border-radius: 20px;
}

::-webkit-scrollbar-track-piece:start {
  background: transparent;
  margin-top: 90px;
}

::-webkit-scrollbar-track-piece:end {
  background: transparent;
  margin-bottom: 90px;
}

body {
  overflow: overlay;
}

html {
  scroll-behavior: smooth;
}

.hvr-sweep-to-right-like {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

.hvr-sweep-to-right-detail {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

.hvr-sweep-to-right-like:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #7378cb;
  border-radius: .195rem;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.hvr-sweep-to-right-detail:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #c67bc7;
  border-radius: .195rem;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.hvr-sweep-to-right-like:hover, .hvr-sweep-to-right-like:focus, .hvr-sweep-to-right-like:active {
  color: white;
}
.hvr-sweep-to-right-like:hover:before, .hvr-sweep-to-right-like:focus:before, .hvr-sweep-to-right-like:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}


.hvr-sweep-to-right-detail:hover, .hvr-sweep-to-right-detail:focus, .hvr-sweep-to-right-detail:active {
  color: white;
}
.hvr-sweep-to-right-detail:hover:before, .hvr-sweep-to-right-detail:focus:before, .hvr-sweep-to-right-detail:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

section {
  padding: 100px 0;
}

.details-card {
  background: #ecf0f1;
}

.card-content {
  background: #ffffff;
  border: 4px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
}

.card-img {
  position: relative;
  overflow: hidden;
  border-radius: 0;
  z-index: 1;
}

.card-img img {
  width: 100%;
  height: auto;
  display: block;
}

#card-index {
  -webkit-box-shadow: 5px 5px 10px -3px #000000;
  box-shadow: 5px 5px 10px -3px #000000;
  position: absolute;
  top: 14%;
  left: 10%;
  background: #363636;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 12px;
  padding-right: 12px;
  color: #fff;
  font-size: 12px;
  border-radius: 25px !important;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  transform: translate(-50%, -50%);
}

#card-voteUp{
  -webkit-box-shadow: 5px 5px 10px -3px #000000;
  box-shadow: 5px 5px 10px -3px #000000;
  position: absolute;
  top: 30%;
  left: 10%;
  background: #363636;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 12px;
  padding-right: 12px;
  color: #fff;
  font-size: 12px;
  border-radius: 25px !important;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  transform: translate(-50%, -50%);
  transition: 0.3s;
  cursor: pointer;
}

#card-voteUp:hover{
  background-color: #275fb5;
  box-shadow: 1px 4px 2px 0px #082450;
}

#card-voteDown{
  -webkit-box-shadow: 5px 5px 10px -3px #000000;
  box-shadow: 5px 5px 10px -3px #000000;
  position: absolute;
  top: 46%;
  left: 10%;
  background: #363636;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 12px;
  padding-right: 12px;
  color: #fff;
  font-size: 12px;
  border-radius: 25px !important;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  transform: translate(-50%, -50%);
  transition: 0.3s;
  cursor: pointer;
}

#card-voteDown:hover{
  background-color: #275fb5;
  box-shadow: 1px 4px 2px 0px #082450;
}

#card-close{
  cursor: pointer;
  margin: 0;
  margin-top: -1%;
  margin-right: 2.6%;
  font-size: 25px;
  color: #b1b0b0;
}

#card-close:hover{
  color: #fc4f4f;
}

@media (max-width: 474px) {
  #card-index {
    top: 13%;
    left: 9%;
  }

  #card-voteUp {
    top: 29%;
    left: 9%;
  }

  #card-voteDown {
    top: 45%;
    left: 9%;
  }
}

@media (min-width: 475px) and (max-width: 767px) {
  #card-index {
    top: 9%;
    left: 7%;
  }
  #card-voteUp {
    top: 25%;
    left: 7%;
  }
  #card-voteDown {
    top: 41%;
    left: 7%;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  #card-index {
    top: 14%;
    left: 10%;
  }
  #card-voteUp {
    top: 30%;
    left: 10%;
  }
  #card-voteDown {
    top: 46%;
    left: 10%;
  }
}

#card-index h4 {
  font-weight: 400;
  font-size: 12px;
  margin: 0;
  padding: 10px 5px;
  line-height: 0;
}

#card-voteUp h4 {
  font-weight: 400;
  font-size: 12px;
  margin: 0;
  padding: 4px 2px;
  line-height: 0;
}

#card-voteDown h4 {
  font-weight: 400;
  font-size: 12px;
  margin: 0;
  padding: 5px 2px 3px 2px;
  line-height: 0;
}

.card-desc {
  padding: 1.25rem;
}

.card-desc h3 {
  color: #000000;
  font-weight: 600;
  font-size: 1.5em;
  line-height: 1.3em;
  margin-top: 0;
  margin-bottom: 5px;
  padding: 0;
}

.card-desc p {
  color: #747373;
  font-weight: 400;
  font-size: 1em;
  line-height: 1.5;
  margin: 0px;
  margin-bottom: 20px;
  padding: 0;
  font-family: 'Raleway', sans-serif;
}

.btn-card {
  font-family: "Calibri Light";
  -webkit-text-stroke: 0.08px rgba(255, 255, 255, 0.5);
  background-color: #565cad;
  color: white!important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
  padding: .25rem 2.14rem;
  font-size: .93rem;
  -webkit-transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
  -o-transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-inout, box-shadow .15s ease-in-out;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-inout, box-shadow .15s ease-in-out;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-inout, box-shadow .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
  margin: 0;
  border: 0;
  -webkit-border-radius: .125rem;
  border-radius: .195rem;
  cursor: pointer;
  white-space: normal;
  word-wrap: break-word!important;
}

.btn-detalle{
  background-color: #b866bb;
}

a.btn-card {
  text-align: center;
  text-decoration: none;
  color: #fff;
}

.is-invalid{
  background-origin: padding-box!important;
  background-image: url("assets/images/icoCerrar.svg")!important;
  background-size: 11px 11px !important;
  background-position: right calc(.375em + .2975rem) center!important;
}

.invalid-feedback{
  font-family: Alata;
  font-size: 12px;
  font-weight: normal;
  margin-left: 2px;
}

.tooltip { /* Container for our tooltip */
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext { /* This is for the tooltip text */
  visibility: hidden;
  width: 100px;
  background-color: #8512d5;
  color: white;
  text-align: center;
  padding: 10px;
  border-radius: 10px;  /* This defines tooltip text position */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext { /* Makes tooltip text visible when text is hovered on */
  visibility: visible;
}

.msg {
  letter-spacing: 0.7px;
  margin-left: 1.8%;
  margin-right: 1.8%;
  background: #fefefe;
  color: #666666;
  font-weight: 500;
  font-size: small;
  padding: 8px;
  padding-left: 18px;
  border-top: solid 3px #CCCCCC;
  border-radius: 5px;
  margin-bottom: 10px;
  -webkit-box-shadow: 0 10px 10px -5px rgba(0,0,0,.08);
  -moz-box-shadow: 0 10px 10px -5px rgba(0,0,0,.08);
  box-shadow: 0 10px 10px -5px rgba(0,0,0,.08);
}
.msg-clear {
  border-color: #fefefe;
  -webkit-box-shadow: 0 7px 10px -5px rgba(0,0,0,.15);
  -moz-box-shadow: 0 7px 10px -5px rgba(0,0,0,.15);
  box-shadow: 0 7px 10px -5px rgba(0,0,0,.15);
}

.msg-close{
  padding: 3px 15px!important;
}

.msg-info {
  border-color: #b8dbf2;
}
.msg-success {
  border-color: #cef2b8;
}
.msg-warning {
  border-color: rgba(255,165,0,.5);
}
.msg-danger {
  border-color: #ec8282;
}
.msg-primary {
  border-color: #9ca6f1;
}
.msg-magick {
  border-color: #e0b8f2;
}
.msg-info-text {
  color: #39b3d7;
}
.msg-success-text {
  color: #80d651;
}
.msg-warning-text {
  color: #db9e34;
}
.msg-danger-text {
  color: #c9302c;
}
.msg-primary-text {
  color: rgba(47,106,215,.9);
}
.msg-magick-text {
  color: #bb39d7;
}

.input-login {
  border-radius: 0;
  border: 0;
  border-radius: 20px;
  border: 1px solid #d6d4d4;
  transition: 0.4s;
}

.input-login:hover {
  box-shadow: 2px 4px 15px -4px rgba(0,0,0,0.2);
}

.input-login:focus {
  border-color: #818080;
  box-shadow: 2px 4px 15px -4px rgba(0,0,0,0.2);
}

.input-login::placeholder {
  font-family: "Font Awesome 5 Free", "Century Gothic";
  transition: 0.4s;
  color: #989797;
  font-size: 14.5px;
  padding-left: 7px;
}

.input-login:focus::placeholder {
  color: #818080;
}

small.form-text:hover{
  cursor: pointer;
}

small.form-text:hover{
  text-decoration: underline;
}

#btn-iniciar-sesion {
  background: linear-gradient(to left, #36d1dc, #5b86e5);
  border: none;
}

#btn-cerrar-sesion {
  background: linear-gradient(to left, #f13951, #f55a4d);
  border: none;
}

#btn-registrarse{
  background: linear-gradient(to left, #00b09b, #96c93d);
  border: none;
}

.hvr-shadow {
  box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5)!important;
}

@-webkit-keyframes hvr-wobble-horizontal {
  16.65% {
    -webkit-transform: translateX(8px);
    transform: translateX(8px);
  }
  33.3% {
    -webkit-transform: translateX(-6px);
    transform: translateX(-6px);
  }
  49.95% {
    -webkit-transform: translateX(4px);
    transform: translateX(4px);
  }
  66.6% {
    -webkit-transform: translateX(-2px);
    transform: translateX(-2px);
  }
  83.25% {
    -webkit-transform: translateX(1px);
    transform: translateX(1px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes hvr-wobble-horizontal {
  16.65% {
    -webkit-transform: translateX(8px);
    transform: translateX(8px);
  }
  33.3% {
    -webkit-transform: translateX(-6px);
    transform: translateX(-6px);
  }
  49.95% {
    -webkit-transform: translateX(4px);
    transform: translateX(4px);
  }
  66.6% {
    -webkit-transform: translateX(-2px);
    transform: translateX(-2px);
  }
  83.25% {
    -webkit-transform: translateX(1px);
    transform: translateX(1px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
.hvr-wobble-horizontal {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.hvr-wobble-horizontal:hover, .hvr-wobble-horizontal:focus, .hvr-wobble-horizontal:active {
  -webkit-animation-name: hvr-wobble-horizontal;
  animation-name: hvr-wobble-horizontal;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

.register-icons a {
  text-align: center;
  width: 38px;
  height: 38px;
  padding-top: 6px!important;
  border-radius: 100%;
  transition: all 0.2s ease-in-out;
}

.register-icons a:hover {
  transform: scale(1.1);
}

.register-icons a:active {
  transform: scale(0.9);
}

#icon-facebook{
  color: #5b86e5;
  background-color: #e9e9e9;
}

#icon-facebook:hover{
  color: white;
  background-color: #5b86e5;
}

#icon-google{
  color: #b87c5c;
  background-color: #e9e9e9;
}

#icon-google:hover{
  color: white;
  background-color: #b87c5c;
}


#icon-instagram{
  font-size: 13px!important;
  padding-top: 4px!important;
  color: #ac67b8;
  background-color: #e9e9e9;
}

#icon-instagram:hover{
  background-color: #ac67b8;
  color: white;
}

#icon-apple{
  padding-top: 2px!important;
  font-size: 19px!important;
  color: #393939;
  background-color: #e9e9e9;
}

#icon-apple:hover{
  background-color: #393939;
  color: white;
}


.modal-login{
  margin-top: 120px;
  border: 10px solid transparent;
  border-radius: 8px;
  background: #5b86e5;
  color: white;
}
.close {
  margin-top: -4px;
  font-weight: 100;
  opacity: 0.8!important;
  text-shadow: none!important;
}

.close:hover {
  font-weight: 500;
}

.nav-item-dropdown:hover {
  text-decoration: none;
}

.dropdown-item{
  cursor: pointer;
  color: #c8c7c7;
}

.dropdown-item:hover{
  text-decoration: underline;
  background: #343a40;
  color: white;
}

.dropdown-menu{
  margin-top: 10px;
  border-top: 2px solid whitesmoke;
  border-bottom: none;
  border-left: none;
  border-right: none;
  background: #343a40;
  border-radius: 0 0 8px 8px;
}
