<div class="mt-4 container	content">
  <div class="row justify-content-center">
    <div class="col-md-8 col-lg-7 col-xl-6">
      <span class="anchor" id="formLogin"></span>
      <div class="card card-outline-secondary pl-3 pr-3 pb-2" style="border-radius: 15px; padding-top: 13px">
        <div class="card-header border-0 bg-transparent pb-0">
          <h3 class="mb-0 text-center"
              style="font-weight: 400; color: #363636; -webkit-text-stroke: 0.3px rgba(0, 0, 0, 0.7)"><i>Wishlist</i>
          </h3>
        </div>
        <div class="card-body" style="color: #535353; font-weight: 500">

          <app-form-destino-viaje  (willFavorite)="setWillFavorite($event)" (onItemAdded)="agregado($event)"></app-form-destino-viaje>

        </div>
      </div>
    </div>
  </div>
  <div class="row mt-5 justify-content-center">
    <app-destino-viaje
      *ngFor="let destino of destinosApiClient.getAll(); let indice = index" [destino]="destino" [indice]="indice"
      (clicked)="elegido($event)" (eliminarDestino)="willBeDelete($event)">
    </app-destino-viaje>
  </div>
</div>

<div *ngIf="contadorHistorial !== updates.length">
  <div *ngIf="updates.length !== 0">
    <hr class="mt-5">
    <h1 class="display-4 ml-2 mb-4 text-dark text-center" style="font-size: 45px">Historial</h1>
  </div>
</div>


<div class="row justify-content-center">
  <div *ngFor="let message of updates"
       class="col-md-10 col-lg-7 col-xl-6 ml-3 mr-3 alert alert-warning alert-dismissible fade show msg msg-info"
       role="alert">
    Escogiste como favorito a <strong>{{ message }}</strong>
    <a (click)="contadorHistorial = contadorHistorial + 1;" type="button" class="close msg-close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </a>
  </div>
</div>

<div class="mt-5 mb-5"></div>
