<div style="border-radius: 0.5rem" class="card-content">
  <div class="card-img">
    <img style="border-radius: 0.5rem 0.5rem 0 0" src="https://placeimg.com/380/230/nature" alt="">
    <span id="card-index"><h4>{{ indice + 1 }}</h4></span>
  </div>
  <span (click)="setEliminarDestino(indice)" id="card-close" class="float-right" aria-hidden="true" title="Eliminar">&times;</span>
  <div style="padding-top: 12px" class="card-desc">
    <h3 style="color: #363636;">{{ destino.nombre }}</h3>
    <p class="mb-2">{{ destino.descripcion }}</p>
    <hr style="margin-top: 12px; margin-bottom: 12px">
    <p style="font-weight: 500" class="mb-0 text-dark">Servicios</p>
    <ul>
      <li class="mb-1 text-muted" *ngFor="let servicio of destino.servicios">
        <span [ngSwitch]="servicio">
          <i *ngSwitchCase="'Desayuno'" title="Gratis">{{ servicio }}* </i>
          <i *ngSwitchDefault>{{ servicio }}</i>
        </span>
      </li>
    </ul>
    <div class="d-flex justify-content-center flex-wrap">
      <a class="btn-card" (click)="seleccionar()">Me Gusta <i *ngIf="destino.isSelected()" class="fas fa-heart fa-sm"></i></a>
      <a class="btn-card btn-detalle mt-2" [routerLink]="['/destino']">Ver Detalles</a>
    </div>
  </div>
</div>

