<link href="https://fonts.googleapis.com/css2?family=Caveat:wght@400;700&display=swap" rel="stylesheet">

<form style="margin: 3vh auto 0">
  <div class="row justify-content-center mt-0 mb-5">
    <div class="col-sm-9 col-10 col-md-8 col-lg-6 col-xl-5 bg-light pl-md-5 pr-md-5 pl-4 pr-4"
         style="padding-bottom: 4vh; padding-top: 3vh; border-radius: 12px;">
      <h1 class="display-4 text-center mb-4 text-dark" style="font-family: 'Caveat',cursive; font-size: 68px">
        Wishlist</h1>

      <div class="form-group" style="font-family: 'Century Gothic',serif">
        <label class="pl-1 text-muted" for="txtUser">Usuario <i class="fa-sm fas fa-user"></i></label>
        <input type="text" class="form-control input-login" id="txtUser" placeholder="Ingresa tu usuario" #txtUser>
      </div>

      <div class="form-group mb-2" style="font-family: 'Century Gothic',serif">
        <label for="txtPass" class="text-muted mt-2">Contraseña <i class="fas fa-lock fa-sm"></i></label>
        <input type="password" class="form-control input-login" id="txtPass" placeholder="Ingresa tu contraseña"
               #txtPass>
      </div>

      <div>
        <small class="form-text text-muted mb-3 mr-1 float-right">¿Olvidaste tu contraseña?</small>
      </div>

      <a id="btn-iniciar-sesion" class="btn btn-info btn-block rounded-pill hvr-wobble-horizontal hvr-shadow"
         (click)="login(txtUser, txtPass)" data-toggle="modal" [attr.data-target]="activarModal">Iniciar Sesión</a>
      <a id="btn-cerrar-sesion" class="btn btn-danger btn-block rounded-pill hvr-wobble-horizontal hvr-shadow"
         (click)="logout()" *ngIf="authService.isLogged()">Cerrar Sesión</a>

      <div class="d-flex mt-3 flex-nowrap">
        <hr class="mr-2 flex-fill">
        <small style="color: #a9a8a6" class="d-flex justify-content-center align-items-center">No tienes
          cuenta</small>
        <hr class="ml-2 flex-fill">
      </div>

      <div class="text-center mt-3">
        <span style="font-family: 'Century Gothic',serif" class="text-muted">Ingresa con</span>
      </div>

      <div class="text-center mt-2 register-icons">
        <a id="icon-facebook" class="btn p-0"><i
          class="fab fa-facebook-f fa-lg"></i></a>
        <a id="icon-google" class="btn p-0 ml-2"><i
          class="fab fa-google fa-lg"></i></a>
        <a id="icon-instagram" class="btn p-0 ml-2"><i
          class="fab fa-instagram fa-2x"></i></a>
        <a id="icon-apple" class="btn p-0 ml-2"><i class="fab fa-apple fa-lg"></i></a>
      </div>

      <div class="text-center mt-2">
        <span style="font-family: 'Century Gothic',serif" class="text-muted">ó</span>
      </div>

      <a id="btn-registrarse" class="mt-2 btn btn-info btn-block rounded-pill hvr-wobble-horizontal hvr-shadow"
         (click)="login(txtUser, txtPass)">Registrarse</a>

      <span class="d-flex justify-content-center text-muted mt-2">{{ mensajeError }}</span>

    </div>
  </div>
</form>

<div id="modal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content modal-login">
      <div class="modal-body pt-1 pb-1 text-center">
        <p class="font-weight-light display-4 mb-0" style="font-size: 16px;">{{ mensajeModal }}</p>
      </div>
    </div>
  </div>
</div>
