<nav style="padding-right: 0.8rem" class="navbar navbar-dark bg-dark sticky-top navbar-expand-sm">
  <a [routerLink]="['/home']" class="navbar-brand mb-1 text-danger">Destinos</a>
  <a class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navBar" aria-controls="navBar" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </a>
  <div class="collapse navbar-collapse" id="navBar">
    <div class="navbar-nav">
      <a [routerLink]="['/home']" (click)="activarHome()" class="nav-item nav-link {{ activeHome }}">Inicio</a>
      <a [routerLink]="['/destino']" (click)="activarDestino()" class="nav-item nav-link {{ activeDestino }}">Destino</a>
    </div>
    <span style="background-color: #8f9ad0; padding-top: 4px; padding-bottom: 4px" class="navbar-text ml-auto text-light pl-3 pr-3 rounded"><i class="fas fa-clock mr-1"></i> {{ time | async }} &nbsp; {{ date | async}}</span>
  </div>
</nav>

<div class="mt-5 container content">

  <div class="row justify-content-center">
    <h1 class="display-4 text-light" style="font-size: 3em; font-weight: 400">{{ title }}</h1>
  </div>

  <router-outlet></router-outlet>

</div>
